# **Introduction to Python Programming**

Welcome to your first shared notebook!
Please make a copy of this colab and start play with your own copy.

# **Goals of this Practical**


* Familiarize yourself with useful services for running snippets of code and immediately checking their outputs.
* Master the basics of the Python language, including basic data types, operators, variables, and data structures.
* Use control structures and loops to solve simple problems.
* Define functions to avoid repetitive tasks.
* Understand the concept of object-oriented programming, including the definition of a class, and distinguish between a function and a method.

# **Prerequisites**
* Willingness to challenge yourself by trying out solutions beyond just copying and pasting.
* Set clear goals for this course and stay committed. Coding can be challenging, and having a purpose helps you persevere through tough times.

**Table of Contents**
* What is Colab?
* Basic Data Types
  * Numbers (e.g. integer, float, complex)
  * Strings (text)
  * Booleans (bool)
* Operators
* Variables
* Dir and Help
* Built-in Data Structures
  * Lists
  * Tuples
  * Sets
  * Dictionaries
* Writing Scripts
  * Indentation
  * Tabs vs Spaces
  * Control Structures and Loops
    * If Statement
    * For Statement
* Writing Functions
* Object Basics
  * Classes
  * Objects
  * Static vs Instance Variables
* Tips and Tricks
* Troubleshooting
* More References

# **What is Colab?**
Colab is a hosted **Jupyter notebook** service that requires **no setup**, while providing **free access** to computing resources including GPUs (i.e. resources for creating images).

Jupyter notebook is an open-source web application that allows to create and share documents that contain **live code**, **equations**, **visualizations** and **narrative text**.

A notebook is a list of cells. Cells contain either explanatory text or executable code and its output. There are two kinds of cells:
* **Text cells** (Markdown)
* **Code cells** (Equations, images and scripts)

Colab supports over 40 programming languages including **Python**, R, Julia, Scala.
Click in the cell to select it and execute the contents in the following ways:
* Click the **Play icon** in the left gutter of the cell;
* Type **Cmd/Ctrl+Enter** to run the cell in place;
* Type **Shift+Enter** to run the cell and move focus to the next cell (adding one if none exists); or
* Type **Alt+Enter** **option/return** to run the cell and insert a new code cell immediately below it.

An overview of Colaboratory Features can be found here: https://colab.research.google.com/notebooks/basic_features_overview.ipynb#scrollTo=KR921S_OQSHG.

Time to get your hands dirty!

## **Basic Data Types**
Every value in Python has a data type. There are several data types (i.e., objects), we will list below some important ones: numbers, strings and booleans.
To verify the type of any object in Python, use the `type()` function:

In [ ]:
type(32)

In [ ]:
type(0.5)

In [ ]:
type('students')

In [ ]:
type(True)

### **Numbers**
There are two main numeric types in Python:
* `int`: a number, positive or negative, without decimals, of unlimited length.
* `float`: a number, positive or negative, containing one or more decimals

### **Strings**
Strings in Python are surrounded by either single quotation marks, or double quotation marks.\
You can display a string literal with the `print()` function.

In [ ]:
print('Welcome Back!')

To concatenate string you can use the [+] operator

In [ ]:
'data' + " science"

Python provides a set of built-in methods. **Built-in methods and functions** are ready made snipped of code that you can use without having to define them.\
A comprehensive overview of built-in methods for strings and other data types/structures can be find here: https://docs.python.org/3/library/stdtypes.html#string-methods

To convert a string to uppercase, we can use the `.upper()` method. Similarly, to convert a string to lowercase, we can use the `.lower()` method.

In [ ]:
'data'.upper()

In [ ]:
'HELP'.lower()

We can also measure the lenght of a string by using `len`

In [ ]:
len('Help')

4

In [ ]:
len(["Help", "Data Science"])

2

The difference between built-in methods and functions is that the latter are used for those operations that are generic for a group of types. `.upper() `and `.lower()` are built-in methods while `len()` is a built-in function.

### **Booleans**
Booleans are binary representation of truth states: True or False, 1 or 0.

In [ ]:
a = True
b = False
print(a)

The `bool()` function allows you to evaluate any value, and give you `True` or `False` in return. Almost any value is evaluated to `True` if it has some sort of content.
* Any string is True, except empty strings.
* Any number is True, except 0.
* Any list, tuple, set, and dictionary are True, except empty ones.

## **Operators**
Operators are used to perform operations on variables and values.\
*Example* of standard operators are:\
I + j the sum\
I - j the difference\
I * j the product\
I / j division\
I // j int division (returns integers)\
I % j the remainder when i is divided by j\
I ** j i to the power of j\
\
`<object> <operator> <object>`

Arithmetic expressions

In [ ]:
1 + 1

2

In [ ]:
2 * 3

6

In [ ]:
14679/56

262.125

In [ ]:
14679//56

262

In [ ]:
14679%56

7

Boolean operators

and	- conjunction\
or	- disjunction\
not	- negation

In [ ]:
1 == 0

False

In [ ]:
not (1 == 0)

In [ ]:
(2 == 2) and (2 == 3)

In [ ]:
(2 == 2) or (2 == 3)

## **Variables**
Variables are containers. They allow you to store data values.

To define a variable "s" use the [=].

In [ ]:
s = 'hello world'

In [ ]:
print(s)

hello world

You can overwrite the value associated to a variable.

In [ ]:
s = 'hello once again'

As we did previously, you can use a built-in method (i.e., `.upper()`) to change the variable `s`.

In [ ]:
s.upper()

'HELLO ONCE AGAIN'

In [ ]:
len(s.upper())

16

In [ ]:
s = 8.0

You can use operator assignment to modify a variable

In [ ]:
matteo += 2.5

In [ ]:
print(matteo)

15.5

In [ ]:
s

8.0

#### **Quick Quiz**
What would have happened if we were using`=` instead of `+=`?

## **Built-in Data Structures**

### Lists
Lists store a sequence of mutable items. A mutable item is an object whose value can change once created.

In [ ]:
students = ['Jonas', 'Charlotte', 'Sina', 'Giulia']

You can access the items in the list using their index. The index is the number that corresponds to the position of the item in the list.  
**Be careful**, in Python, indexing starts at 0 (i.e., the first item has 0 as index).

In [ ]:
students[0]

'Jonas'

In [ ]:
students[2] = 'Silvia'
students

#### **Quick Quiz**
Given the list `students = ['Jonas', 'Charlotte', 'Sina', 'Giulia']`
What is the index to select Giulia?

In [ ]:
students[3]

'Giulia'

List concatenation with [+] operator

In [ ]:
otherStudents = ['Hanyu', 'Marie-Sophie']
allstudents = students + otherStudents
allstudents

['Jonas', 'Charlotte', 'Silvia', 'Giulia', 'Hanyu', 'Marie-Sophie']

Negative-indexing from the back of the list

In [ ]:
allstudents[-2]

'Hanyu'

In [ ]:
students.pop()
students

['Jonas', 'Charlotte']

In [ ]:
students.pop(0)

In [ ]:
students

In [ ]:
students.append('Eleonora')

In [ ]:
students[-1] = 'Matko'

In [ ]:
students

 Index multiple adjacent elements using the **slice operator** (e.g., students[start:stop])

In [ ]:
students[0:2]

In [ ]:
students[:3]

In [ ]:
#students[start:]
students[2:]

['Matko']

In [ ]:
allstudents[2:]

['Hanyu', 'Marie-Sophie']

In [ ]:
len(students)

In [ ]:
len(allstudents)

List can be any datatype

In [ ]:
lstOfLsts = [['carrots', 'apples', 'oranges'], [1, 2, 3], ['one', 'two', 'three']]

You can access an element embedded in a list by first selecting the index of the list and then the index of the element in the selected list. In this case we are selecting the third element of the second list.

In [ ]:
lstOfLsts[1][2]

In [ ]:
lstOfLsts[0].pop()

In [ ]:
lstOfLsts

In [ ]:
dir(list)

In [ ]:
help(list.reverse)

In [ ]:
lst = ['a', 'b', 'c']

In [ ]:
lst.reverse()

To check if an element is part of a list you can use the `in` keyword.\
Python has a set of keywords that are reserved words that cannot be used as variable names, function names, or any other identifiers:

In [ ]:
a in lst

In [ ]:
'a' in lst

In [ ]:
my_super_string = 'all I want is pizza'

In [ ]:
print('pizza' in my_super_string)

#### **Quick Quiz**

What is the output of the `print()` function call?
```
s = 'foo'
t = 'bar'
print('barf' in 2 * (s + t))
```

*Add here you answer*

Specifying **strides/steps** while slicing strings.

In [ ]:
my_passion = 'I like bikes, I like every kind of bike'

In [ ]:
print(my_passion[13:])

In [ ]:
print(my_passion[0:15:3])

Specifying the stride of 3 as the last parameter in the Python syntax my_passion[0:25:3] prints only every three character.

#### **Quick Quiz**
**Each character in a string has an index**.\
For the string Arnaud Rocks! the index breakdown is as follows:
```
Arnaud Rocks !
0123456789101112
```
What is the slice expression that gives every third character of string `Arnaud Rocks!`?

In [ ]:
#add here you code
a= 'Arnaud Rocks!'
a[1::3]

'ruRk'

### **Tuples**
Tuples are like a lists except that they are immutable once they are created (i.e. you cannot change its content once created)

In [ ]:
pair = (3, 5)

In [ ]:
pair[0]

In [ ]:
 x, y = pair

In [ ]:
x

In [ ]:
y

In [ ]:
pair[1] = 6

The attempt to modify an immutable structure raised an exception. Exceptions indicate errors: index out of bounds errors, type errors, and so on will all report exceptions in this way.

### **Sets**
Sets are unordered lists with no duplicate items.
An advantage of sets vs lists and tuples is that they remove duplicate values.

In [ ]:
 shapes = ['circle', 'square', 'triangle', 'circle']

In [ ]:
setOfShapes = set(shapes)

In [ ]:
setOfShapes

{'circle', 'square', 'triangle'}

In [ ]:
setOfShapes.add('polygon')

In [ ]:
setOfShapes

{'circle', 'polygon', 'square', 'triangle'}

Checking if there is a specific element in the set

In [ ]:
'circle' in setOfShapes

True

### **Dictionaries**
Dictionaries store a map from one type of object (the key) to another (the value). The key must be an immutable type (string, number, or tuple). The value can be any Python data type. For instance, a dictionary can contain an address book and you access each contact by specifying its name.

In [ ]:
my_dic = {}
my_dic["first_name"] = "Arnaud"
my_dic["surname"] = "Weiss"
my_dic["work"] = "President"
my_dic

{'first_name': 'Arnaud', 'surname': 'Weiss', 'work': 'President'}

You can access a value using its key

In [ ]:
my_dic['first_name']

'Arnaud'

It is possible to re-assign a value associated with a key

In [ ]:
my_dic['work'] = 'Professor'
my_dic

You can use `del` to delete an element of the dictionary (key and value)

In [ ]:
del my_dic['first_name']
my_dic

It is also possible to assign a list of value to a key

In [ ]:
my_dic['work'] = ['Professor', 'President']
my_dic

{'surname': 'Weiss', 'work': ['Professor', 'President']}

Access the list of keys

In [ ]:
my_dic.keys()

dict_keys(['first_name', 'surname', 'work'])

Access the list of values

In [ ]:
my_dic.values()

Access a view object that displays a list of a given dictionary's (key, value) tuple pair

In [ ]:
my_dic.items()

Check the length of the dictionary

In [ ]:
len(my_dic)

In [ ]:
my_dic['arnaud']

KeyError: ignored

If the key does not exist in the dictionary, a KeyError exception will be thrown.
Dictionaries can contain other objects. These objects are placed and accessed through keys. A dictionary can not naturally contain two identical keys. On the other hand, nothing prevents to have two identical values in the dictionary.
Be careful, however, a dictionary does not have an ordered structure. If we delete a key, the dictionary, unlike lists, will not shift all index keys above the deleted index.

## **Writing Scripts**

###**Control Structures** and **Loops**

In [ ]:
# This is what a comment looks like
students = ['Jonas', 'Charlotte', 'Sina', 'Giulia']
# for statement
for student in students:
    print(student + ' has a passion!'+ '\n' )

studentsPassions = {'Jonas': 'playing guitar', 'Charlotte': 'climbing', 'Sina': 'biking', 'Giulia': 'surfing'}
for student, passion in studentsPassions.items():
    # if statement
    if passion == 'biking':
        print('I like ' + passion + ' more')
    else:
        print(passion + ' is cool!')

#### If Statement
find more on: https://docs.python.org/3.6/tutorial/controlflow.html#if-statements

In [ ]:
x = int(input("Please enter an integer: "))

In [ ]:
if x < 0:
  x = 0
  print('Negative changed to zero')
elif x == 0:
  print('Zero')
elif x == 1:
  print('Single')
else:
  print('More')

In [ ]:
var1 = 6
var2 = 3

if var1 > var2:
  print("This is also True")
else:
  print("That was False!")

In [ ]:
value = input('Type a number ')

In [ ]:
print(value)
print(type(value))

In [ ]:
value = input("Type a number ")
value = int(value)

if value < 10:
  print("The value is smaller than 10!")
elif 10 <= value <= 20:
  print("The value is larger than 10 but smaller than 20.")
else:
    print("The value is larger than 20.")

In [ ]:
user_input = int(input("insert your password: "))

insert your password: 3805653

#### **For Statement**

In [ ]:
words = ['cat', 'window', 'defenestrate']

In [ ]:
for w in words:
  print(w, len(w))

In [ ]:
professors = ['Jean','Pierre','Beatrice','Silvia','Lucien','Mark']
genders = ['female','male','female','female','male','male']

for (f,b) in zip(professors, genders):
    print("name: ", f ,"; gender: ", b)

**`zip() `**

Return Value
The `zip()` function returns an iterator of tuples based on the iterable objects.

If we do not pass any parameter, `zip()` returns an empty iterator
If a single iterable is passed, `zip()`returns an iterator of tuples with each tuple having only one element.
If multiple iterables are passed, `zip()` returns an iterator of tuples with each tuple having elements from all the iterables.

Suppose, two iterables are passed to `zip()`; one iterable containing three and other containing five elements. Then, the returned iterator will contain three tuples. It's because the iterator stops when the shortest iterable is exhausted.

In [ ]:
new_words = ['cat', 'elephant', 'room', 'window', 'bakery', 'defenestrate']

In [ ]:
for w in new_words[2:3]:  # Loop over a slice copy of the entire list.
  if len(w) > 4 :
    words.insert(0, w)

In [ ]:
words

In [ ]:
for w in new_words[1:3]:  # Loop over a slice copy of the entire list.
  print(w)

In [ ]:
for k in range(10, 15):
    print(k)

Map and filter

The code of the lambda is typically a single expression without variables or if-statements, and does not use "return". Lambda is perfect where you have a short computation to write inline. Many programs have some sub-part which can be solved very compactly this way. For longer code, def is better.

The map() function runs a lambda function over the list [1, 2, 3, 4, 5], building a list-like collection of the results, like this:

![Capture d’écran du 2023-01-17 16-55-00.png]()

for more about this, check: https://cs.stanford.edu/people/nick/py/python-map-lambda.html

In [ ]:
list(map(lambda x: x * x, [1, 2, 3]))

As a companion to map(), the filter() function takes a function and a list, and returns a subsetted list of the elements where the function returns true.

For example, given a list of strings, return a list of the strings where the length is greater than 3:

![Capture d’écran du 2023-01-17 16-58-08.png]()

In [ ]:
list(filter(lambda x: x > 3, [1, 2, 3, 4, 5, 4, 3, 2, 1]))

 List comprehension construction

In [ ]:
nums = [1, 2, 3, 4, 5, 6]
plusOneNums = [x + 1 for x in nums]
oddNums = [x for x in nums if x % 2 == 1]
print(oddNums)
oddNumsPlusOne = [x + 1 for x in nums if x % 2 == 1]
print(oddNumsPlusOne)

### **While loops**

In [ ]:
n = int(input("tell me a number: "))
while n < 20:
  n+=1
  print(n)

# **Writing functions**

Functions are piece of code that accept a set of arguments as input and return a value. Functions can be executed 'on-demand'.
Functions can be created using the following scheme:


*   `def`, which is the abbreviation of 'define' and which is the prelude to any construction of function.
*   `function name`, which is named exactly as a variable. Do not use an already instantiated variable name to name a function.
* `list of parameters` separated by commas and enclosed by opening and closing parentheses.
* `:`,  colon to close the line
* `()`, parentheses are mandatory, even if your function does not wait for any parameter.

In [ ]:
def my_function(parameter1, parameter2):
    """
    This is how my function works
    """
    a = parameter1 + parameter2
    return a

In [ ]:
my_function(2,5)

Functions accept both regular arguments and keyword arguments. This means that you can specify which keywords are which and pass them in as follows

In [ ]:
def keyword_function(a=1, b=2):
  return a + b

In [ ]:
keyword_function(4,5)

9

You can mix regular arguments with keyword arguments

In [ ]:
def mixed_function(a, b=2, c=3):
  return a + b + c

In [ ]:
mixed_function(5)

In [ ]:
mixed_function(a=1, b=8, c=12)

In [ ]:
bakeryPrices = {'pain au chocolat': 2.00, 'baguette': 1.50, 'ourson': 1.75}

In [ ]:
def buyItem(item, numEuros):
    if item not in bakeryPrices:
        print("Sorry we don't have %s" % (item))
    else:
        cost = bakeryPrices[item] * numEuros
        print("That'll be %f please" % (cost))

# Main Function
if __name__ == '__main__':
    buyItem('pain au chocolat', 2.4)
    buyItem('pain au raisin', 2)

There is also a conditional (or if) statement that checks the value of `__name__ `and compares it to the string `__main__`. When the if statement evaluates to True, the Python interpreter executes `main()`. You can read more about conditional statements in Conditional Statements in Python.

#**Object Basics**

### **Classes**
Classes are abstract objects that encapsulate the data (i.e., prevent it from being altered or used inappropriately) and make it easier to write general-purpose code.

To remember: methods are associated with the objects of the class they belong to. Functions are not associated with any object. We can invoke a function just by its name. Functions operate on the data you pass to them as arguments.

In [ ]:
class FruitShop:

    def __init__(self, name, fruitPrices):
        """
            name: Name of the fruit shop

            fruitPrices: Dictionary with keys as fruit
            strings and prices for values e.g.
            {'apples': 2.00, 'oranges': 1.50, 'pears': 1.75}
        """
        self.fruitPrices = fruitPrices
        self.name = name
        print('Welcome to %s fruit shop' % (name))

    def getCostPerPound(self, fruit):
        """
            fruit: Fruit string
        Returns cost of 'fruit', assuming 'fruit'
        is in our inventory or None otherwise
        """
        if fruit not in self.fruitPrices:
            return None
        return self.fruitPrices[fruit]

    def getPriceOfOrder(self, orderList):
        """
            orderList: List of (fruit, numPounds) tuples

        Returns cost of orderList, only including the values of
        fruits that this fruit shop has.
        """
        totalCost = 0.0
        for fruit, numPounds in orderList:
            costPerPound = self.getCostPerPound(fruit)
            if costPerPound != None:
                totalCost += numPounds * costPerPound
        return totalCost

    def getName(self):
        return self.name

### **Objects**
if you are working on different python codes, you can import the class FruitShop by using `import` followed by the name of the file without the extension (e.g., import shop). This make your class accessible to other scripts, e.g., you can create other objects FruitShop as follows:


```
import shop

shopName = 'the Berkeley Bowl'
fruitPrices = {'apples': 1.00, 'oranges': 1.50, 'pears': 1.75}
berkeleyShop = shop.FruitShop(shopName, fruitPrices)
applePrice = berkeleyShop.getCostPerPound('apples')
print(applePrice)
print('Apples cost $%.2f at %s.' % (applePrice, shopName))

otherName = 'the Stanford Mall'
otherFruitPrices = {'kiwis': 6.00, 'apples': 4.50, 'peaches': 8.75}
otherFruitShop = shop.FruitShop(otherName, otherFruitPrices)
otherPrice = otherFruitShop.getCostPerPound('apples')
print(otherPrice)
print('Apples cost $%.2f at %s.' % (otherPrice, otherName))
print("My, that's expensive!")

```

# **Well done!**

Below you can find a list of references and additional material to continue learn.



*   [Python Documentation](https://docs.python.org/3/)
*   [Automate Boring Stuff - Chapter 1](https://automatetheboringstuff.com/2e/chapter1/)
* [pythonbooks.org](https://pythonbooks.org/) a comprehensive set of books organized by rank and level.